# Python
__pycache__/
.mypy_cache/
.pytest_cache/

# VSCode
.vscode/

# Misc
*.temp.*
*.test.*
*.misc.*
# This folder stores executables that will get downloaded automatically in a script.
#Still need to keep the folder however.
spotdl/defaults/misc/*
!spotdl/defaults/misc
